/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
   content: "";
   display: block;
   clear: both;
}
body {
  display: flex;
  flex-flow: column; //要素を縦に並べる
  min-height: 100vh; //最小でも画面の高さ分のbodyの高さを担保する
	font-family: 'Athelas','Baskerville','Georgia','Roman','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','klee',sans-serif;
}

main {
  flex: 1; //画面の高さから他の同レイヤーの要素の高さを引いた値に
}

ul {
  list-style: none;
}
/* ---------------------------- */
