// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-pic_area {
	width: 100%;
	height: 720px;
	background-color: #F0F7FF;
	padding-top: 100px;

	& .online-img img {
	width: 800px;
	height: 180px;
	display: block;
	margin-left: auto;
  margin-right: auto;
	}
	& .top-pic_slide {
	width: 1100px;
	display: block;
	margin-left: auto;
  margin-right: auto;
	}
	& img {
	width: 200px;
	height: 200px;
	}
	& li {
	width: 300px;
	height: 350px;
	padding: 20px 20px 0;
	display: block;
	margin-left: auto;
  margin-right: auto;
	}
}
.top-concept_area {
	height: 900px;
	background-image: url("concept-back.jpg");
	background-size: cover;
	background-position: center;
	padding-top: 170px;

	& .top-concept {
	background-color: rgba(0, 55, 100, 0.8);
	padding: 70px 0 60px;
  margin: 0 auto;
  width: 547px;
  color: #FFF;
  text-align: center;
	}
	& .top-concept h2 {
	font-size: 50px;
	}
}
.top-concept_box {
	height: 670px;
	display: flex;
	background-color: #F0F7FF;

	& .concept-box {
	width: 450px;
	display: block;
	margin-left: auto;
  margin-right: auto;
	}
	& .concept-style {
	height: 370px;
	padding: 50px;
	background-color: #FFF;
	}

	& h5 {
	font-size: 16px;
	text-align: center;
	padding-top: 25px;
	line-height: 2.1rem;
	}
	& p {
	font-size: 13px;

	}
	& .concept-img {
	width: 100%;
	height: 210px;
	}
	& .concept {
	width: 55px;
	height: 52px;
	display: block;
	margin-left: auto;
  margin-right: auto;
	}
	& .btn {
	  display: inline-block;
    border-radius: 3px;
    background-color: #81CDDF;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 50px;
    cursor: pointer;
    line-height: 2.1rem;
	}
}

.main-introduction {
	height: 1800px;
	background-color: #F0F7FF;
	padding: 75px 30px;

	& .introduction-box {
	background-color: #FFF;
	height: 525px;
	margin: 30px 0;
	
	}
	& .logo-21 {
	width: 192px;
	height: 140px;
	}
	& .logo-copy_21 {
	width: 257px;
	height: 51px;
	margin: 35px 0 45px 0;
	}
	& .logo-20 {
	width: 148px;
	height: 145px;
	}
	& .logo-copy_20 {
	width: 273px;
	height: 51px;
	margin: 35px 0 45px 0;
	}
	& .logo-cuisine {
	margin-bottom: 35px;
	}
	& .logo-copy_cuisine {
	width: 359px;
	height: 51px;
	margin-bottom: 15px;
	}
	& .introduction-21f {
	width: 38%;
	height: 525px;
	padding: 90px 100px 110px 100px;
  text-align: center;
	}
	& .introduction-20f {
	width: 38%;
	height: 525px;
	padding: 90px 100px 110px 100px;
  text-align: center;
	}
	& .introduction-cuisine {
	width: 38%;
	height: 525px;
	padding: 90px 100px 110px 100px;
  text-align: center;
	}
	& .introduction-img {
	width: 62%;
	height: 525px;
	}
	& .cuisine-copy {
	  font-size: 12px;
    margin-bottom: 35px;
	}
	& .btn {
	  display: inline-block;
    border-radius: 3px;
    background-color: #81CDDF;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 50px;
    cursor: pointer;
    line-height: 2.1rem;
	}
}






















