<section class="header-container">
	<div class="header-image">
		<div class="header-title">
			<h1>THE SKY<br>WEDDING</h1>
			<p>ここにしかない風景と美食で、おもてなし</p>
		</div>
	</div>
	<div class="header-top clearfix">
		<div class="header-top_left">
			<img src="<%= asset_path "logo.png" %>">
		</div>
		<div class="header-top_right">
			<div class="header-tel float-left">
				<span>ご予約・お問い合わせ<br>
					<a href="＃">123-456-88</a>
				</span>
			</div>
			<span class="shopday float-left">平日 12：00〜19:00(土日祝 9:00~)<br>月曜日＆火曜日定休(祝日除く)</span>
			<div class="header-sns  float-left">
				<span class="fa-stack">
					<i class="far fa-circle fa-stack-2x"></i>
					<i class="fab fa-facebook-square fa-stack-1x"></i>
				</span>
				<span class="fa-stack">
					<i class="far fa-circle fa-stack-2x"></i>
					<i class="fab fa-instagram fa-stack-1x"></i>
				</span>
			</div>
			<div class="header-link  float-left">
				<a href="#" class="btn"><i class="fas fa-caret-right"></i>
				ブライダルフェア</a>
				<a href="#" class="btn"><i class="fas fa-caret-right"></i>
				資料請求</a>
				<a href="#" class="btn"><i class="fas fa-caret-right"></i>
				来店予約</a>
				<a href="#" class="btn">ベストレート保証</a>
			</div>

		</div>

	</div>
	<div class="header-bottom">
		<nav>
			<ul>
				<li><a href="#">コンセプト</a></li>
				<li><a href="#">21F 会場</a></li>
				<li><a href="#">20F 会場</a></li>
				<li><a href="#">施設紹介</a></li>
				<li><a href="#">料理</a></li>
				<li><a href="#">ドレス</a></li>
				<li><a href="#">サービス</a></li>
				<li><a href="#">サービス</a></li>
				<li><a href="#">サービス</a></li>
				<li><a href="#">ロケーション</a></li>
				<li><a href="#">パーティレポート</a></li>
				<li><a href="#">パーティレポート</a></li>
				<li><a href="#">ギャラリー</a></li>
				<li><a href="#">プラン</a></li>
				<li><a href="#">ブログ</a></li>
				<li><a href="#">特集</a></li>
				<li><a href="#">ゲストの皆へ</a></li>
				<li><a href="#">アクセス</a></li>
			</ul>
		</nav>
	</div>
</section>