<section class="header-container">
	<div class="header-image">
		<div class="header-title">
			<h1>THE SKY<br>WEDDING</h1>
			<p>ここにしかない風景と美食で、おもてなし</p>
		</div>
	</div>
	<div class="header-top">
		<div class="header-top_left">
			<img src="">
		</div>
		<div class="header-top_right">
			<div class="header-tel">
				<span>お問い合わせ</span>
				<a href="＃">123-456-88</a>
			</div>
			<span>平日 12：00〜19:00(土日祝 9:00~)<br>月曜日＆火曜日定休(祝日除く)</span>
			<div class="header-sns">
				<span><i class="fab fa-facebook-square"></i></span>
				<span><i class="fab fa-instagram"></i></span>
			</div>
			<div class="header-link">
				<a href="#">ブライダルフェア</a>
				<a href="#">資料請求</a>
				<a href="#">来店予約</a>
				<a href="#">ベストレート保証</a>
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<nav>
			<ul>
				<li><a>コンセプト</a></li>
				<li><a>21F 会場</a></li>
				<li><a>20F 会場</a></li>
				<li><a>施設紹介</a></li>
				<li><a>料理</a></li>
				<li><a>ドレス</a></li>
				<li><a>サービス</a></li>
				<li><a>ロケーション</a></li>
				<li><a>パーティレポート</a></li>
				<li><a>ギャラリー</a></li>
				<li><a>プラン</a></li>
				<li><a>ブログ</a></li>
				<li><a>特集</a></li>
				<li><a>ゲストの皆へ</a></li>
				<li><a>アクセス</a></li>
			</ul>
		</nav>
	</div>
</section>