<section class="header-container">
	<div class="header-image">
		<div class="header-title">
			<h1>THE SKY<br>WEDDING</h1>
			<p>ここにしかない風景と美食で、おもてなし</p>
		</div>
	</div>
	<div class="header-top">
		<div class="header-top_left">
			<img src="">
		</div>
		<div class="header-top_right">
			<div class="header-tel">
				<span>お問い合わせ</span>
				<a href="＃">123-456-88</a>
			</div>
			<span>平日 12：00〜19:00(土日祝 9:00~)<br>月曜日＆火曜日定休(祝日除く)</span>
			<div class="header-sns">
				<span><i class="fab fa-facebook-square"></i></span>
				<span><i class="fab fa-instagram"></i></span>
			</div>
			<div class="header-link">
				<a href="#">ブライダルフェア</a>
				<a href="#">資料請求</a>
				<a href="#">来店予約</a>
				<a href="#">ベストレート保証</a>
			</div>
		</div>
	</div>
	<div class="header-bottom"></div>
</section>